*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fuentes/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-medium';
    src: url(assets/fuentes/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Bogart';
    src: url(assets/fuentes/Bogart/Bogart-Medium-Italic-trial.ttf);
}

@font-face {
    font-family: 'Bogart-title';
    src: url(assets/fuentes/Bogart/Bogart-Thin-Italic-trial.ttf);
}

/* Presentación */

.container{
    display: flex;
    flex-direction: row;
    height: 100dvh;

}

.intro{
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 2rem;
    font-size: clamp(0.8125rem, -0.0611rem + 1.3649vw, 4.375rem);
    margin-bottom: 1%;
}

h2.portfolio{
    font-family: Bogart-title;
}

h1.firma {
    font-family: Bogart-title;
    font-size: clamp(3.75rem, 0.7732rem + 3.6082vw, 12.5rem);
    text-align: center;
    line-height: 90%;
    

}

.ingresar{
    text-decoration: none;
    color: black;
    font-size: clamp(1.5625rem, 0.3364rem + 1.9157vw, 6.5625rem);
    font-family: Bogart-title;
    font-weight: bold;
    width: 25%;
    margin: 0 auto;
    text-align: center;

}

.botton{
    background-color: rgb(230, 243, 255);
    border-bottom: 0.1rem solid black;
    border-radius: 3rem;
}

.botton:hover{
    transition: 1s;
    background-color: rgb(188, 221, 252);
    animation: bn54rotate 0.7s ease-in-out both;
    animation-delay: 0.06s;
}


  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

.img-presentacion{
    width: 35%;
}

/* Biografia */

header{
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: row;
    height: 15dvh;
    background-color: rgb(230, 243, 255);
    min-height: 45px;

}

body{
    height: auto;
}

h2.firma{
    width: 30%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(1.25rem, -0.0374rem + 2.0115vw, 6.5rem);
    font-weight: bolder;
    
}

h2.firma1{
    width: 100%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(1.25rem, -0.0374rem + 2.0115vw, 6.5rem);
    letter-spacing: 0.1rem;
}


nav.botonera{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn{
    text-decoration: none;
    font-size: clamp(0.8125rem, -0.3676rem + 1.8439vw, 5.625rem);
    width: 25%;

}

.container-landing{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: auto;
    min-height: 500px;
    background-color: aliceblue;
}

.cont-img{
    
    width: 25%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    gap: 2rem;
    
}

.img-bio{
    width: 70%;
}

#fil{
    text-align: center;
}

.img-site{
    width: 95%;
}

.cont-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.presentacion{
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap: 5dvh;
    font-size: clamp(0.8125rem, -0.0611rem + 1.3649vw, 4.375rem);
    margin-bottom: 1%;
}

.descripcion{
    width: 100%;
    padding: 2%;
    font-family: Montserrat-medium;
    text-align: center;
}

.diplomas{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    background-color: rgb(230, 243, 255);
    border: solid rgba(27, 25, 24, 0.507) 0.1rem;
    width: 90%;
    margin: 0 auto;

}
.img-click{
    display: block;
    width: 23%;
}

.cert{
    width: 100%;
    border:solid black 0.1rem;
}

.cont-diploma{
    position:absolute;
    left:20%;
    bottom:10%;
    width: 60%;
    background-color: rgb(230, 243, 255);
    height: auto;
    padding-bottom: 1dvh;
    border: solid rgba(48, 48, 37, 0.582) 0.1dvh;
    padding: 1dvh;


}

.cruz{
    float: right;
    clear: both;
    display: block;
    width: 5%;
    position: absolute;
    left:94%;
    border:solid black 0.1rem;
    
}

.img_close{
    width: 100%;

}

.img_diplo{
    width: 74%;
    margin-left: 13%;
    transition: 0.5s;
    animation-name: aparicion;
    animation-duration: 0.5s;
    animation-delay: 0s;
    border: solid rgba(27, 25, 24, 0.507) 0.1rem;
}

@keyframes aparicion{
    0%{
        opacity: 0.5;
        transform: scale(0.95);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* PROYECTOS   */

.cont-flechas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2dvh;
    border-radius: 3rem;
    border: solid rgba(53, 48, 46, 0.507) 0.1rem;
}

.flechas{
    width: 100%;
    
}

.cont-flecha{
    display: block;
    width: 15%;
    text-align:center;
    border-radius: 3rem;
    transition: 0.5s;
    border: 0.1rem solid rgba(0, 0, 0, 0);
}
.cont-flecha:hover{
    background-color: rgb(210, 231, 250);
    border: 0.1rem solid black;
}



.cont-text-title{
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap: 1rem;
    height: auto;
    background-color: rgb(230, 243, 255);
    padding: 3% 1%;
    margin-bottom: 1%;
    /* border: solid rgba(53, 48, 46, 0.507) 0.1rem; */

}

.proyecto-title{
    width: 50%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(1.25rem, -0.0374rem + 2.0115vw, 6.5rem);
    letter-spacing: 0.1rem;
    margin: 0 auto;
    padding: 1dvh 0;
}
.video-demostracion{
    width: 90%;
    padding: 3%;
    margin: 0 auto;
    text-align: center;
    background-color: beige;
    border: solid rgba(233, 146, 88, 0.507) 0.2rem;
}
.video-demo{
    width: 100%;
}

/* CURRICULUM */

.title-curr{
    width: 100%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(1.25rem, -0.0374rem + 2.0115vw, 6.5rem);
    letter-spacing: 0.1rem;
    padding-top: 1dvh;
    
}

.cont-curr{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0rem;
}

.img-curriculum{
    width: 100%;
    padding: 3%;
    background-color: rgb(230, 243, 255);
    border: solid rgba(53, 48, 46, 0.507) 0.1rem;
    display: block;
    margin: 0 auto;
}

.container-landing-curr{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: auto;
    min-height: 500px;
    padding-bottom: 1vw;
}



/* Celulares portait */
@media handheld, screen and (min-width:800px) and (max-width: 1320px) {
    /* Presentación */

.container{
    display: flex;
    flex-direction: row;
    height: 100dvh;

}


h2.portfolio{
    font-family: Bogart-title;
    font-size: clamp(1.25rem, 0.2885rem + 1.9231vw, 1.875rem);
}

h1.firma {
    font-family: Bogart-title;
    font-size: clamp(2.8125rem, 1.851rem + 1.9231vw, 3.4375rem);
    text-align: center;
    line-height: 90%;

}

.ingresar{
    text-decoration: none;
    color: black;
    font-size: clamp(1.5625rem, 0.601rem + 1.9231vw, 2.1875rem);
    font-family: Bogart-title;
    font-weight: bold;
    width: 50%;
}

.img-presentacion{
    width: 40%;
}

/* Biografia */

header{
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: row;
    height: 15dvh;
    background-color: aliceblue;
    min-height: 45px;
    padding:1%;

}

body{
    height: 85dvh;
}

h2.firma{
    width: 30%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(1.25rem, -0.0374rem + 2.0115vw, 6.5rem);
}

h2.firma1{
    width: 100%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(1.5625rem, 0.601rem + 1.9231vw, 2.1875rem);
    letter-spacing: 0.1rem;
}


nav.botonera{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn{
    text-decoration: none;
    font-size: clamp(1rem, 0.3269rem + 1.3462vw, 1.4375rem);

}

.container-landing{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: auto;
    min-height: 500px;
}

.cont-img{
    width: 25%;
    text-align: center;
    
}

.img-bio{
    width: 80%;
}

.cont-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.presentacion{
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap: 5dvh;
    font-size: clamp(0.8125rem, -0.0611rem + 1.3649vw, 4.375rem);
    margin-bottom: 1%;
}

.descripcion{
    width: 100%;
    padding: 2%;
    font-family: Montserrat-medium;
    font-size: clamp(0.8125rem, 0.1394rem + 1.3462vw, 1.25rem);
}

.diplomas{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    background-color: rgb(230, 243, 255);
    border: solid rgba(27, 25, 24, 0.507) 0.1rem;
    width: 100%;

    margin: 0 auto;

}
.img-click{
    display: block;
    width: 25%;
    padding: 1%;
}

.cert{
    width: 100%;
    border:solid black 0.1rem;
}

.cont-diploma{
    position:absolute;
    left:7.5%;
    width: 85%;
    background-color: rgb(230, 243, 255);
    height: auto;
    padding:1%;
}

.cruz{
    float: right;
    clear: both;
    display: block;
    height: 6%;
    width: 5%;
    position: absolute;
    left:94%;
    border:solid black 0.1rem;
    
}

.img_close{
    width: 100%;
    margin: 0 auto;

}

.img_diplo{
    width: 74%;
    margin-left: 13%;
    transition: 0.5s;
    animation-name: aparicion;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes aparicion{
    0%{
        opacity: 0.5;
        transform: scale(0.95);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* PROYECTOS   */

.cont-flechas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.flechas{
    width: 100%;
    
}

.cont-flecha{
    display: block;
    width: 15%;
    text-align:center;
}

.cont-text-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem;
    height: auto;
    padding: 3% 1%;
    margin-bottom: 1%;
}

.proyecto-title{
    width: 100%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(1.25rem, 0.4808rem + 1.5385vw, 1.75rem);
    letter-spacing: 0.1rem;
}
.video-demostracion{
    width: 90%;
    padding: 3%;
    text-align: center;
    background-color: burlywood;
    border: solid rgba(233, 146, 88, 0.507) 0.2rem;
}
.video-demo{
    width: 30%;
}

/* CURRICULUM */

.title-curr{
    width: 100%;
    font-size: clamp(1.25rem, 0.4808rem + 1.5385vw, 1.75rem);
    letter-spacing: 0.1rem;
    padding:1vw;
    
}

.cont-curr{
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
}

.img-curriculum{
    width: 80%;
    padding: 3%;
    
    display: block;
    margin: 0 auto;
}

.container-landing-curr{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: auto;
    min-height: 500px;
    padding-bottom: 1vw;
}

}

@media handheld, screen and (min-width:470px) and (max-width: 799px) {
        /* Presentación */

.container{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    min-height: 380px;

}

.intro{
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(0.8125rem, -0.0611rem + 1.3649vw, 4.375rem);
}

h2.portfolio{
    font-family: Bogart-title;
    font-size: clamp(0.8125rem, 0.1894rem + 2.1212vw, 1.25rem);
}

h1.firma {
    font-family: Bogart-title;
    font-size: clamp(1.5625rem, 0.2069rem + 6.7568vw, 2.1875rem);
    text-align: center;
    line-height: 90%;

}

.ingresar{
    text-decoration: none;
    color: black;
    font-size: clamp(1.125rem, 0.7679rem + 1.2158vw, 1.375rem);
    font-family: Bogart-title;
    font-weight: bold;
    width: 50%;
}

.img-presentacion{
    width: 40%;
}

/* Biografia */

header{
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: row;
    height: 20dvh;
    background-color: aliceblue;
    min-height: 50px;
    padding:1%;
    clear: both;

}

body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.firma{
    width: 30%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(0.875rem, 0.3409rem + 1.8182vw, 1.25rem);
}

h2.firma1{
    width: 100%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(0.9375rem, 0.0473rem + 3.0303vw, 1.5625rem);
    letter-spacing: 0.1rem;
}


nav.botonera{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn{
    text-decoration: none;
    font-size: clamp(0.75rem, 0.2115rem + 1.8293vw, 1.125rem);

}

.container-landing{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: auto;
    min-height: 400px;
}

.cont-img{
    width: 25%;
    text-align: center;
}


.cont-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.presentacion{
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:start;
    padding: 1%;
    font-size: clamp(0.8125rem, -0.0611rem + 1.3649vw, 4.375rem);
}

.presentacion.mi{
    padding: 0;
    justify-content:space-around;
}

.descripcion{
    width: 95%;
    padding: 1%;
    font-family: Montserrat-medium;
    font-size: clamp(0.5625rem, 0.1174rem + 1.5152vw, 0.875rem);
    margin: 0 auto;
}

.diplomas{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    background-color: rgb(230, 243, 255);
    border: solid rgba(27, 25, 24, 0.507) 0.1rem;
    width: 100%;
    padding-bottom: 3%;
    margin: 0 ;

}

.img-bio{
    width: 80%;
}
.img-click{
    display: block;
    width: 25%;
    padding: 1%;
}

.cert{
    width: 100%;
    border:solid black 0.1rem;
}

.cont-diploma{
    position:absolute;
    left:10%;
    width: 80%;
    height: auto;
    padding: 2%;
}

.cruz{
    float: right;
    clear: both;
    display: block;
    width: 5%;
    height: 6%;
    position: absolute;
    left:94%;
    border:solid black 0.1rem;
    
}

.img_close{
    width: 100%;

}

.img_diplo{
    width: 74%;
    margin-left: 13%;
    transition: 0.5s;
    animation-name: aparicion;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes aparicion{
    0%{
        opacity: 0.5;
        transform: scale(0.95);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* PROYECTOS   */

.cont-flechas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin-bottom: 1rem;
}

.flechas{
    width: 100%;
    
}

.cont-flecha{
    display: block;
    width: 20%;
    text-align:center;
}

.cont-text-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: auto;
}

.proyecto-title{
    width: 100%;
    text-align: center;
    font-family: Bogart;
    font-size: clamp(0.875rem, 0.3409rem + 1.8182vw, 1.25rem);
    letter-spacing: 0.1rem;
}
.video-demostracion{
    width: 90%;
    padding: 3%;
    text-align: center;
    background-color: burlywood;
    border: solid rgba(233, 146, 88, 0.507) 0.2rem;
}
.video-demo{
    width: 30%;
}

/* CURRICULUM */

.title-curr{
    width: 100%;
    font-size: clamp(1.25rem, 0.4808rem + 1.5385vw, 1.75rem);
    letter-spacing: 0.1rem;
    padding:1vw;
    
}

.cont-curr{
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
}

.img-curriculum{
    width: 80%;
    padding: 3%;
    
    display: block;
    margin: 0 auto;
}

.container-landing-curr{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: auto;
    min-height: 500px;
    padding-bottom: 1vw;
}

}
    


@media handheld, screen and (min-width:320px) and (max-width: 469px) {

    .container{
        display: flex;
        flex-direction: row;
        height: 100dvh;
        background-image: url(../assets/imagenes/img1.png);
        background-color: rgba(255, 255, 255, 0.301);
    background-blend-mode: lighten;
    background-size: cover;
        
    
    }
    
    .intro{
        width: 100%; 
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: clamp(0.8125rem, -0.0611rem + 1.3649vw, 4.375rem);
    }
    
    h2.portfolio{
        font-family: Bogart-title;
        font-size: clamp(1.125rem, 0.5828rem + 2.7027vw, 1.375rem);
    }
    
    h1.firma {
        font-family: Bogart;
        font-size: clamp(1.5625rem, 0.2069rem + 6.7568vw, 2.1875rem);
        text-align: center;
        line-height: 100%;
    
    }
    
    .ingresar{
        text-decoration: none;
        color: black;
        font-size: clamp(1.125rem, 0.5828rem + 2.7027vw, 1.375rem);
        font-family: Bogart-title;
        font-weight: bold;
        width: 50%;
        text-align: center;
    }
    
    .img-presentacion{
        display:none;
    }
    
    /* Biografia */
    
    header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        gap: 5dvh;
        height: auto;
        background-color: aliceblue;
        min-height: 100px;
        padding:5%;
    
    }
    
    body{
        height: auto;
    }
    
    h2.firma{
        width: 80%;
        text-align: center;
        font-family: Bogart;
        font-size: clamp(1rem, 0.4578rem + 2.7027vw, 1.25rem);
    }
    
    h2.firma1{
        width: 100%;
        text-align: center;
        font-family: Bogart;
        font-size: clamp(0.9375rem, 0.0473rem + 3.0303vw, 1.5625rem);
        letter-spacing: 0.1rem;
    }
    
    
    nav.botonera{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:1rem;
    }
    
    .btn{
        text-decoration: none;
        font-size: clamp(0.75rem, 0.4789rem + 1.3514vw, 0.875rem);
    
    }
    
    .container-landing{
        display: flex;
        gap: 5dvh;
        justify-content: space-between;
        padding: 2%;
        height: auto;
        min-height: 350px;
    }
    
    .cont-img{
        width: 25%;
        text-align: center;

        display: none;
    }
    
    
    .cont-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .presentacion{
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        padding: none;
        font-size: clamp(0.8125rem, -0.0611rem + 1.3649vw, 4.375rem);
        gap: 0.5rem;
    }
    
    .presentacion.mi{
        padding: none;
        justify-content:space-around;
        gap:0.5rem;

    }
    
    .descripcion{
        width: 95%;
        padding: 2%;
        font-family: Montserrat-medium;
        font-size: clamp(0.75rem, 0.35rem + 2vw, 0.9375rem);
        margin: 0 auto;
    }
    
    .diplomas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 3%;
        
        width: 90%;
    
        margin: 0 auto;
    
    }
    
    .img-bio{
        width: 80%;
        display: none;
    }
    .img-click{
        display: block;
        width: 45%;
        padding: 1%;
    }
    
    .cert{
        width: 100%;
        border:solid black 0.1rem;
    }
    
    .cont-diploma{
        position:absolute;
        top: 30%;
        left:2.5%;
        width: 95%;
        height: auto;
        padding-bottom: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .cruz{
        float: right;
        clear: both;
        display: block;
        width: 10%;
        position: absolute;
        left:89%;
        top: 1%;
        border:solid black 0.1rem;
        height: auto;
        
    }
    
    .img_close{
        width: 100%;
        
    
    }
    
    .img_diplo{
        width: 95%;
        transition: 0.5s;
        animation-name: aparicion;
        animation-duration: 0.5s;
        animation-delay: 0s;
        margin: auto 0;
    }
    
    @keyframes aparicion{
        0%{
            opacity: 0.5;
            transform: scale(0.95);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
    
    /* PROYECTOS   */
    
    .cont-flechas{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        margin: 0 auto;
    }
    
    .flechas{
        width: 100%;
        
    }
    
    .cont-flecha{
        display: block;
        width: 20%;
        text-align:center;
    }
    
    .cont-text-title{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
        height: auto;
        min-height: 120px;
        background-color: rgb(230, 243, 255);
        border: 0;
        padding: 3%;
    }
    
    .proyecto-title{
        width: 100%;
        text-align: center;
        font-family: Bogart;
        font-size: clamp(0.875rem, 0.3409rem + 1.8182vw, 1.25rem);
        letter-spacing: 0.1rem;
    }
    .video-demostracion{
        width: 90%;
        padding: 3%;
        text-align: center;
        background-color: burlywood;
        border: solid rgba(233, 146, 88, 0.507) 0.2rem;
        margin: 0 auto;
    }
    .video-demo{
        width: 30%;
    }
    
    /* CURRICULUM */
    
    .title-curr{
        width: 100%;
        font-size: clamp(1.25rem, -0.5303rem + 6.0606vw, 2.5rem);
        font-family: Bogart;
        padding:1vw;
        
    }
    
    .cont-curr{
        width: 90%;
        margin: 0 auto;
        gap: 0rem;
    }
    
    .img-curriculum{
        width: 100%;
        padding: 3%;
        
        display: block;
        margin: 0 auto;
    }
    
    .container-landing-curr{
        display: flex;
        justify-content: space-between;
        padding: 1%;
        height: auto;
        min-height: 500px;
        padding-bottom: 1vw;
    }
    
    }
        

/*Celulares y tablets landscape*/

@media handheld, screen and (min-width:800px) and (max-width: 1280px) and (orientation:landscape){

}

@media handheld, screen and (min-width:470px) and (max-width: 799px) and (orientation:landscape){


}

